[Unit]
Description=Network Time Synchronization Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ agent_dest_lin }}
ExecStart=/usr/bin/python3 {{ agent_dest_lin }}system-check.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target